body {
  font-family: 'Lato', sans-serif;
  background: #424242;
}

header {
  text-align: left;
  padding: 20px;
  overflow: hidden;
  position: relative;
  background: #701112;
}

header .body {
  text-shadow: 0px 0px 3px #000;
  z-index: 10;
  color: white;
  font-size: 32px;
}

article {
  padding: 30px;
  background: white;
  overflow: hidden;
}

.cutter {
  float: right;
  height: 250px;
}
